:root {
    --black: #000000;
    --dark: #222222;
    --dark-secondary: #212A3E;
    --light: #EEEEEE;
    --accent: #00ADB5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 1rem;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    background-color: var(--black);
    color: var(--light);

    & ul {
        list-style: none;
    }

    & a {
        text-decoration: none;
        color: inherit;
    }
}

.wrapper {
    display: flex;
    padding: .6rem;
    gap: .5rem;
}

/* utitlity */

.overflowYscroll::-webkit-scrollbar {
    display: none;
}

/* Main and Aside Sizing */
main,
aside {
    min-height: 95vh;
}

main {
    width: 75vw;
    position: relative;
}

aside {
    width: 25vw;
}

/* Aside */
.home,
.library {
    overflow-y: scroll;
    background-color: var(--dark);
    color: inherit;
}

/* Aside Navigation */

.home,
.library,
.home-library,
.footer {
    padding: 1rem;
}

.home {
    min-height: 25%;
    max-height: 25%;
    margin-bottom: .8rem;

    & .logo {
        font-size: 1.7rem;
        margin-bottom: .8rem;
    }

    & .logo:hover {
        color: var(--accent);
    }

    & .home-tabs {
        font-size: 1.15rem;
        color: var(--light);
        margin: .5rem 0;
    }
}

/* Aside Playlist */

.library {
    min-height: calc(50% - .8rem);
    height: calc(50% - .8rem);
    margin-bottom: .8rem;
    cursor: pointer;
}

.library-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.footer {
    min-height: calc(25% - .8rem);
    background-color: var(--dark);
    font-size: .8rem;
}

.footer ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.footer ul li {
    background-color: var(--dark-secondary);
    columns: var(--light);
    padding: .2rem .5rem;
}

/* Main */
main {
    background-color: var(--dark);
}

/* Navbar */
nav {
    height: 4rem;
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-secondary);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;

}

.arrow-btns svg {
    height: 2.5rem;
    width: 2.5rem;
}

.signup-and-login-btns button {
    padding: .5rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    transition: all ease .5s;
}

.login {
    background-color: var(--light);
    color: var(--dark);
}

.signup {
    background-color: transparent;
    color: var(--light);
}

.login:hover {
    margin-left: .5rem;
    background-color: var(--accent);
    color: var(--light);
    transform: scale(1.1);
}

.signup:hover {
    margin-right: .5rem;
    background-color: var(--dark);
    color: var(--light);
    transform: scale(1.1);
}

/* Main Content */

.main-contents {
    height: 90vh;
    min-height: calc(100vh - 1.2rem);
    padding: 4rem 1rem 0;
    overflow-y: scroll;
    background: rgb(80, 80, 80);
    background: linear-gradient(0deg, rgba(80, 80, 80, 1) 11%, rgba(33, 42, 62, 1) 100%);
}

/* Main Library */
.home-library {
    max-height: 100%;
    overflow: hidden;
    position: relative;
}

.library-cards-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: scroll;
}

.library-cards-wrapper::-webkit-scrollbar { display: none; }

.library-header { margin-bottom: .7rem; }

/* Cards */
.cards {
    height: 20rem;
    width: 16rem;
    background-color: var(--dark);
    padding: 1rem .5rem;
    flex-shrink: 0;
}

.cover {
    height: 70%;
    width: calc(100% - .5rem);
    margin: 0 auto;
    position: relative;
}

.cover img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.cards:hover { background-color: var(--dark-secondary); }

.cover svg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
    opacity: 0;
    transition: all ease .5s;
}

.cards:hover .cover svg {
    opacity: 1;
    margin: 0 1rem 1rem 0;
}

.card-body {
    height: 30%;
    width: calc(100% - .5rem);
    margin: .7rem auto;
    font-size: .9rem;
}

.main-footer { margin-bottom: 4rem;}

.main-footer,
.social-link-wrapper {
    padding: 1rem 1.5rem;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    cursor: pointer;
}

.social-link-wrapper {
    width: 20%;
    gap: 1rem;
}

.playbar {
    height: 3.5rem;
    width: 100%;
    background-color: var(--dark);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    & .pauseBtn { display: none;}
}

.controls span {
    margin: 0 1rem; 
}

.controls span svg {
    height: 2rem;
    width: 2rem;
}